.lef {
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
}
/*

.bodys {
  background-image: url("../assets/auth/auth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin-right: 400px;
  overflow: hidden;
  z-index: 3;
  height: 100vh;
}

.card {
  width: 40vmax;
  border: solid 1px;
  position: absolute;

  margin-top: 10vmin;
  margin-left: 40vmax;

  background-color: red;
} */
.Box {
  border: 0.8px solid;
  border-color: rgba(141, 141, 141, 0.644);
  border-radius: 10px;
  width: 35vmax;
  transform: translate(30vmax, 50px);
}
