.wowp-bg {
  background-image: url("https://wallpaperplay.com/walls/full/9/1/3/223288.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 90vh;
  resize: vertical;
  box-shadow: 1px 11px 25px rgb(155, 155, 155);
}

.title-wowp {
  text-align: center;
  border: 1px solid rgba(3, 3, 3, 0.247);
  background-color: rgba(34, 34, 34, 0.26);
  width: 210px;
  color: rgb(212, 212, 212);
  border-radius: 10px;
  font-family: ubuntu;
  padding: 10px;

  box-shadow: 5px 4px 10px rgba(56, 16, 16, 0.384);
}

.contain {
  font-family: Ubuntu;
  width: 270px;

  font-weight: bold;
  font-size: 25px;
}

.list-wowp {
  line-height: 7px;
  font-size: 20px;
}

.tex {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(15, 14, 14);
}

.wot-bg {
  background-image: url("../assets/wot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 90vh;
  resize: vertical;
  box-shadow: 1px 11px 25px rgb(155, 155, 155);
}

.title-wot {
  text-align: center;
  border: 1px solid rgba(3, 3, 3, 0.247);
  background-color: rgba(34, 34, 34, 0.26);
  width: 210px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: ubuntu;
  padding: 10px;

  box-shadow: 5px 4px 10px rgba(24, 10, 10, 0.384);
}

.list-wot {
  line-height: 7px;
  font-size: 20px;
}

.wows-bg {
  background-image: url("https://wallpapercave.com/wp/wp2012307.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 90vh;
  resize: vertical;
  box-shadow: 1px 11px 25px rgb(155, 155, 155);
}

.title-wows {
  text-align: center;
  border: 1px solid rgba(3, 3, 3, 0.247);
  background-color: rgba(34, 34, 34, 0.26);
  width: 210px;
  color: rgb(212, 212, 212);
  border-radius: 10px;
  font-family: ubuntu;
  padding: 10px;

  box-shadow: 5px 4px 10px rgba(56, 16, 16, 0.384);
}

.list-wows {
  line-height: 7px;
  font-size: 20px;
}

.card-box {
  background-color: rgba(177, 177, 177, 0.486);
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}
