.img-wowp {
  background-image: url("http://s1.1zoom.net/big0/330/433053-blackangel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 40vh;
  resize: vertical;
}
.tex-title {
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(180, 180, 180));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12;
  font-family: ubuntu;
  text-shadow: 1px 1px 1px #ffffff;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
