.img-wowp {
  background-image: url("http://s1.1zoom.net/big0/330/433053-blackangel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 50vh;
  resize: vertical;
}
.tex-title {
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(180, 180, 180));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12;
  font-family: ubuntu;
  text-shadow: 1px 1px 1px #ffffff;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.img-wot {
  background-image: url("https://images6.alphacoders.com/326/326962.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 50vh;
  resize: vertical;
}

.img-wows {
  background-image: url("https://ryanmartinproductions.com/image/181264-full_american-cruisers-update-0-7-5-world-of-warships-worldofwarships.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 50vh;
  resize: vertical;
}
